<ion-header >
  <ion-toolbar color="primary" >
  	<img class="logo" src="../assets/logo.png">
    <div class="title">Твой успешный день</div>
    <img class="burger" src="../assets/burger.png" routerLink="/home" >
 	</ion-toolbar>

</ion-header>

<ion-content padding>
	<div class="content">
		<h3>Планирование успешного дня</h3>	
		<button id="addTargetButton" class="button" color="light"  (click)="addTarget()"><p>Добавить пункт в план</p> <img src="../assets/plus.png"></button>

		<ul class="animated bounceInUp">
			<li *ngFor="let item of dayData" >
				<ion-label>{{item.date.hour}}:{{item.date.minutes}}</ion-label>
				<a href="">{{item.text}}</a>
			</li>
		</ul>
	</div>
</ion-content>



<div id="blockNoActive"></div>
<div id="addTarget" class="addTargetOff" >
	<app-addtarget></app-addtarget>
</div>



