h3{
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	color: #202020;
	margin: 0 auto 10px;
}

.button{
	font-size: 16px;
	width: 275px;
	background-color: #d8eeff;
	color: #282828;
	border-radius: 5px;
	height: 38px;
	margin: 5px auto;
	display: block;
}

.button p {
	line-height: 37px;
	margin: 0 10px;
	float: left;
}

.button img{
	margin: 8px 10px;
	float: right;
}

ion-label{
	margin: 10px;

}
ion-checkbox{
	top: 5px;
}

li {
    list-style-type: none; 
    margin: 5px auto;
}
ul {
	margin-left: 0; 
	padding-left: 0; 
}