<ion-header >
  <ion-toolbar color="primary" >
  	<ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-img src="../assets/img/return.png"></ion-img>
      </ion-button>
    </ion-buttons>
    <div class="title">Твой успешный день</div>
    <img class="burger" src="../assets/img/burger.png" routerLink="/home" >
 	</ion-toolbar>

</ion-header>

<ion-content padding>
	<div class="content">
		<h3>Планирование успешного дня</h3>	
		<button id="addTargetButton" class="button" color="light"  (click)="addTarget()"><p>Добавить пункт в план</p> <img src="../assets/img/plus.png"></button>

		<ul class="animated bounceInUp">
			<li *ngFor="let item of dayData" >
				<ion-label>{{item.date.hour}}:{{item.date.minutes}}</ion-label>
				<a href="">{{item.text}}</a>
				<img src="../assets/img/pancil.png" (click)="editTarget()">
			</li>
		</ul>
	</div>
</ion-content>


<div id="blockNoActive"></div>
<div id="addTarget" class="addTargetOff" >
	<app-addtarget [settings]="settings"></app-addtarget>
</div>



