<ion-header >
	<ion-toolbar color="primary" >
  	<img class="logo" src="../assets/img/return.png" routerLink="/home">
    <div class="title">Твой успешный год</div>
    <img class="burger" src="../assets/img/burger.png" routerLink="/home" > 
 	</ion-toolbar>
</ion-header>


<ion-content padding>
	<div class="content">
		<h3>Мои 111 целей на 2019 год</h3>	
		<button id="addTargetButton" class="button" color="light"  (click)="addTarget()"><p>Добавить пункт в план</p> <img src="../assets/img/plus.png"></button>

		<ul class="animated bounceInUp">
			<li *ngFor="let item of yearData; let i = index" >
				{{i+1}}
				<a href="">{{item.text}}</a>

			</li>
		</ul>
	</div>
</ion-content>


<div id="blockNoActive"></div>
<div id="addTarget" class="addTargetOff" >
	<div class="menuElement"><img src="../assets/img/newtarget.png" alt="">Взять шаблон</div>
	<div class="menuElement" routerLink="/newtarget"><img src="../assets/img/pancil.png" alt=""  >Создать свой пункт</div>
</div>
