<ion-header >
  <ion-toolbar color="primary" >

		<ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-img src="../assets/img/return.png"></ion-img>
      </ion-button>
    </ion-buttons>

    <div class="title">Редактирование</div>
    <img class="burger" src="../assets/img/burger.png" routerLink="/home" > 
 	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-item>
    <ion-label fixed>Название</ion-label>
    <ion-input type="text" value=""></ion-input>
  </ion-item>

<ion-button color="primary" expand="block" (click)="addNewTarget()" >Применить изменения</ion-button>
</ion-content>
